/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Default Colors
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$primary: #428BCA; //rgb(66, 139, 202)
$secondary: #EDE4A8; //rgb(237, 228, 168)
$tertiary: #24B166; //rgb(36, 177, 102)

$gray: #B3C1C4; //rgb(179, 193, 196)
$black: #312F38; //rgb(49, 47, 56)


.primary{
  color: rgba($primary, 0%);
  .darken{
    color: darken($primary, 20%);
  }
  .lighten{
    color: lighten($primary, 40%);
  }
  .complement{
    color: complement($primary);
  }
}

.secondary{
  color: $secondary;
  .darken{
    color: darken($secondary, 20%);
  }
  .lighten{
    color: lighten($secondary, 40%);
  }
  .complement{
    color: complement($secondary);
  }
}

.tertiary{
  color: $tertiary;
  .darken{
    color: darken($tertiary, 20%);
  }
  .lighten{
    color: lighten($tertiary, 40%);
  }
  .complement{
    color: complement($tertiary);
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Colored Elements
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Default <a> tag*/
a{
  color: rgb($primary);
  &:hover{
    color: rgba($primary, .8);
  }
}

/* Navbar brand color */
.navbar-default .navbar-brand {
  color: $tertiary;
}
/* Form page header color */
section > .page-header {
  background-color: $secondary;
}
/* Menu Nav border color */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-bottom: 0.4rem solid rgba($primary,.5);
}
.nav-pills > li > a:hover {
  color: $primary;
  border-bottom: 0.4rem solid $primary;
}
/* Default Button */
form button,
form .btn {
  background-color: $tertiary;
}
/* Default Button:hover; */
form button:hover,
form .btn:hover {
  background-color: rgba($tertiary, 0.8); 
}
/* Custom Button styles */
form button[data-button-type='custom'] {
  border-color: $tertiary;
  color: $tertiary;
}
/* Previous Page Custom :hover*/
form button[data-button-type='previous-page']:hover,
form button[data-button-type='custom']:hover {
  background-color: rgba($tertiary, 0.8);
}
/* Timeline Dot*/
.timeline > ul > li:before {
  color: $secondary;
}
/* Card Icon Color */
.card .fa {
  color: $primary;
}
/* Card top border */
.card .card-content {
  border-top-color: $primary;
}

/* Card link color */
.card .action a{
  color: $primary;
  &:hover{
    color: rgba($primary, .5);
  }
}