/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Alerts
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Error Messages
 *-------------------------------------- */
 .errors {
  display: none;
  margin: 0 auto;
  width: 90%;
}
.errors {
  font-size: 1rem;
  background-color: #faf0ef;
  border: 0.1rem solid #d5d5d5;
  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 60%;
  p {
    font-style: bold;
    font-size: larger;
    background-color: #cc0000;
    border-bottom: 0.1rem solid #d5d5d5;
    color: white;
    padding: 0.25rem 0.5rem;
  }
}

/* Missing Attributes
 *-------------------------------------- */
.no-data{
  border: 1px solid #999;
  border-radius: 3px;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1em;
  background-color: transparent;
  position: relative;
  border: 1px solid transparent;
  &.no-data-setup{
    background-color: #fff;
  }
  h3{
    text-transform: none;
  }
  ul{
    text-align: left;
  }
}
.success{
  color: #00B900;
  .required,
  .fa-check{
    color: $green;
  }
  .required{
    font-weight: bold;
  }
}
.danger,
.warning{
  color: $black;
  .required,
  .fa-exclamation-triangle{
    color: $yellow;
  }
  .required{
    font-weight: bold;
  }
}
