// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//   Buttons
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Form Button Styles
 *-------------------------------------- */

form {
  button, .btn {
    background-color: $tertiary-color;
    color: $white;
    display: inline-block;
    padding: 0.6rem 1.2rem;
    margin-bottom: 0;
    margin-right: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0.1rem solid transparent;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  button:hover, .btn:hover {
    background-color: rgba($tertiary-color, 0.8);

  }
  .btn.fileinput-button:hover {
    color: $white;
  }
  button {
    &[data-button-type='previous-page'] {
      /* Button Types */
      position: relative;
      padding-left: 2.6rem;
      background-color: rgba($black, 0.5);

    }
    &[data-button-type='custom'] {
      background-color: #ffffff;
      border-color: $tertiary-color;
      color: $tertiary-color;

    }
    &[data-button-type='previous-page']:hover, &[data-button-type='custom']:hover {
      background-color: rgba($tertiary-color, 0.8);
      color: $white;

    }
    &[data-button-type='previous-page']:before {
      font-family: 'FontAwesome';
      content: '\f053';
      position: absolute;
      top: 50%;
      left: 0.8rem;
      width: 1.2rem;
      height: 1.2rem;
      line-height: 1;
      font-size: 1.6rem;
      margin-top: -0.7rem;
      opacity: 0;
      -webkit-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
      opacity: 1;
    }
    &[disabled]{
      cursor: not-allowed;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: .65;
    }
  }
}
