/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Footer
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border-top: 0.1rem solid #e7e7e7;
  background-color: #f8f8f8;
  color: #777777;
  font-size: 1.1rem;
  dl {
    margin: 0;
  }
}
