/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Navbar
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Navbar Brand color
 *-------------------------------------- */
.navbar-default .navbar-brand {
    color: $primary-color;
}
/* Navbar Form
 *-------------------------------------- */
.navbar-form form {
    background: none;
    margin-left: 0;
    padding: 0;
    font-weight: 400;
    overflow: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Navbar Search height fix*/
.navbar-form form .form-group > .form-control {
    padding: 0.6rem 1.2rem;
    margin-right: 1rem;
    height: auto;
    border: 1px solid rgba($black, 0.25);
    outline: none;
}
/* Navbar Typeahead
 *-------------------------------------- */
.tt-query {
    -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999;
}
.tt-menu {
    /* used to be tt-dropdown-menu in older versions */
    width: 160px;
    margin-top: 0;
    padding: 0.4rem 0;
    background-color: #fff;
    border: 0.1rem solid #ccc;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}
.tt-suggestion {
    cursor: pointer;
    padding: 0.3rem 2rem;
    line-height: 2.4;
}
.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
    color: #fff;
    background-color: $primary-color;
}
.tt-suggestion p {
    margin: 0;
}
/* Navbar Brand
 *-------------------------------------- */
/* Logo height is always set at 50px in header */
.navbar-brand {
    padding: 0 1.5rem;
}
.navbar-brand > i {
    padding: 1.5rem 0;
}
/* Keeps Logo contained in header */
.navbar-brand > img {
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;
    padding: 0.5rem;
    /* probably not needed anymore, but doesn't hurt */
    -o-object-fit: contain;
    object-fit: contain;
}
/* Navbar Form
 *-------------------------------------- */
.navbar-form {
    overflow: auto;
}
.navbar-form .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.navbar-form .form-group {
    display: inline;
}
