/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Navs
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Nav Pills Elements
 *-------------------------------------- */
.nav-pills > li > a {
  border-radius: 0;
  color: $black;
  padding: 1rem 1.6rem;
}

/* Solid bottom bar on active page */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: $primary-color;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 0.4rem solid $primary-color;
}
.nav-pills > li > a:hover {
  color: rgb(66, 139, 202);
  background-color: transparent;
  border-color: transparent;
  border-bottom: 0.4rem solid rgba($primary-color, 0.5);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: transparent;
}

/* Auto-Hiding Navigation
 *-------------------------------------- */
// colors
$color-1: $body-bg; // background-color

// breakpoints

$S:     480px;
$M:     768px;
$L:     1024px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}


.menu-nav {
    position: relative;
    z-index: 1;
    clear: both;
    width: 100%;
    background-color: $color-1;
    /* Force Hardware Acceleration */
    transform: translateZ(0);
    will-change: transform;
    transition: transform .5s;

    &::after {
        /* gradient on the right - to indicate it's possible to scroll */
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100%;
        width: 35px;
        background: transparent;
        background: linear-gradient(to left, $color-1, rgba($color-1, 0));
        pointer-events: none;
        transition: opacity .2s;
    }

    &.nav-end::after {
        opacity: 0;
    }

    ul, li, a {
        height: 100%;
    }

    ul {
        /* enables a flex context for all its direct children */
        display: flex;
        padding: 0;
        margin: 0;
        @include clearfix;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    li {
        display: inline-block;
        float: left;
        /* do not shrink - elements float on the right of the element */
        flex-shrink: 0;

        &:last-of-type {
                padding-right: 20px;
        }
    }

    a {
        display: block;
        color: $white;
        &:hover, &.active {
                opacity: 1;
        }
    }

    @include MQ(L) {
        overflow: visible;
        ul {
            /* reset mobile style */
            display: block;
            //text-align: center;
        }

        li {
            /* reset mobile style */
            float: none;
            flex-shrink: 1;
        }
    }
}

.category__subcategory{
  ul{
    margin:0;
    padding:0;
  }
}
