/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Tables
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Attachment files
 *-------------------------------------- */
.file-table {
  display: table;
  margin: 0px;
  padding: 0px;
}

.file-row {
  display: table-row;
  > span {
    list-style:none;
    display: table-cell;
    border: 1px solid #000;
    padding: 2px 6px;
  }
}

.file-header {
  display: table-header-group;
  span {
    background-color: #ccc;
  }
}

.file-container {
   display: table-row-group;
 }
 
 /*
    dataTables overrides
 */
 .dataTables_date{
    float: left;
    margin: 0 10px 0 10px;
    color: #333;
    @media(max-width: 640px){
       float: none;
       text-align: center;
    }
 }
 
