/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Type
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

 // heading, display classes, block quote, lists, and horizontal rule

h1,
.h1 {
  color: $black;
}
h2,
.h2 {
  color: rgba($black , 0.5);
}
h3,
.h3 {
  color: rgba($black , 0.75);
  text-transform: uppercase;
}
h4,
.h4 {
  color: $black;
  text-transform: uppercase;
}
h5,
.h5 {
  color: $black;
}
h6,
.h6 {
  color: $black;
}

/* Miscellaneous Elements
 *-------------------------------------- */
// Truncates long text with ellipsis 
.ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.category h3 {
  font-weight: 200;
}